.cuerpo{
    box-sizing: content-box;    
    height: 730px;
    display: flex;
}

.listas, .contenido{
    height: 730px;

    border:2px solid;
    /* flex: auto; */
}

.listas{
    
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.listas h2, .listas nav{
    border-bottom: solid;
    padding: 20px 20px;
    max-width: 200px;
}


ol {
    list-style-position: inside;
}

li{
    padding: 20px 10px;
    margin-top: 10px;
    border-bottom: solid;
    background-color: rgb(18, 11, 59);
    color: rgb(153, 153, 173);

    cursor: pointer;
}

li:hover{
    background-color: rgb(169, 169, 223);
    color: #000;
}
li:active{
    text-shadow: 10px 20px;
    background-color: rgb(44, 97, 196);

}

.contenido{
   width: 70%;
}

.oculta{
    display: none;
}
@media screen and (max-width: 800px) {
   .oculta{
       margin-top: 300px;
        padding: 5px;
        display: block;
        height: 20px;
        position: absolute;
        float: right;
        width: 50px;
        background-color: rgb(37, 10, 99);
        color: antiquewhite;
        cursor: pointer;
    }
    .listas{
        display: none;
        background-color: whitesmoke;
    }
    .contenido{
        width: 100%;
    }

    .oculta:active+.listas{
        position: absolute;
        display: block;
        width: 250px;
        animation-name:cinco,cuatro;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }

    @keyframes cinco{
        0%{background-color: rgba(213, 209, 231, 0.5);}
        100%{background-color:whitesmoke;}
    }
    @keyframes cuatro{
        0%{width:60px;}
        100%{width: 250px;}
    }

    .listas:hover{
        position: absolute;
        overflow: hidden;
        display: block;
        width: 250px;
           animation-name:cinco,cuatro;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
}

